@mixin flex($dir, $justify-content, $align-items) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin font($family, $size, $weight) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
}

.card {
  background-color: #fdfdfd;
  transition: all 0.3s;
  border-radius: 10%;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 18px 10px -5px rgba(0, 0, 0, 0.2);
  }

  &:hover .foodImg img {
    transform: rotate(360deg);
  }

  .container {
    @include flex(column, center, center);
    padding: 20px;
    .foodImg {
      transform: translateY(-20%);
      @include flex(row, center, center);

      img {
        width: 80%;
        border-radius: 50%;
        transition: all 0.7s;
      }
    }

    .info {
      @include flex(column, center, center);
      gap: 10px;

      .upper {
        @include flex(column, center, center);
        gap: 2px;

        .recipeName {
          @include font(cursive, 20px, 600);
        }
        .origin {
          @include flex(row, center, center);
          @include font(cursive, 16px, 400);
          color: rgb(5, 150, 105);
          gap: 10px;
        }
      }

      .view {
        @include font(cursive, 16px, 600);
        padding: 5px 30px;
        border-radius: 20px;
        color: white;
        background-color: rgb(30, 175, 129);
      }
    }
  }
}
